/* A laptop with a 1920x1080 screen,
 * displaying to a 1024x768 projector.
 */

#page {
  width: 1024px;
  height: 768px;
}

#notes {
  position: absolute; left: 1035px;
  top: 10px;
  width: 885px;
  max-width: 885px;
}

#nextdiv {
  position: absolute; right: 5px; top: 740px;
}

#content {
  margin-left: 130px;
  margin-top: 75px;
  margin-right: 1.25em;
}
